header {
  position: absolute;
  background-color:#150050;
  padding: 0px 20px;
  left: 0px;
  right: 0px;
  z-index: 11;
}



@keyframes fixHeader {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.container {
  max-width: 1140px;
  margin: auto;
}

header .row {
  justify-content: space-between;
  align-items: left;
}

.navbar{
background-color:#150050;
}

.navbar ul {
  list-style: none;
  background-color:#150050;
  min-width: 1200px
  margin 35px;
  padding:0 px;
}

.navbar ul li {
  display: inline;
  margin: 45px;
}

.navbar ul li a {
  font-size: 15px;
  line-height: 72px;
  color:#FFDF6B;
  font-weight: 600;
  /* display: block; */
  position: relative;
}

.fixed .navbar ul li a {
  color: #000;
}

.navbar ul li a::before {
  content: "";
  height: 4px;
  background-color:#1DB9C3;
  width: 0%;
  position: absolute;
  right: 0px;
  bottom: -27px;
  cursor: pointer;
  transition: all 0.5s ease;
}


.navbar ul li a:hover::before {
  width: 100%;
  left: 0px;
}

.navbar ul li a.active::before {
  width: 100%;
  left: 0;
}
